body {
  background-color: #e2e2e2;
  color: #262626;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  background-color: rgb(29, 29, 29);
  border-radius: 8px;
  padding: 0;
  color: white;
}

.header {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  padding: 15px;
  color: white;
}

.sectionH {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  padding: 15px;
  color: white;
}

.article {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  padding: 15px;
  color: white;
}

.nav a {
  text-decoration: none;
  text-align: justify;
  color: white;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;
  padding: 3px;
}

.nav a:hover {
  text-decoration: none;
  text-align: center;
  background-color: rgb(26, 26, 26);
}

.nav2 a:hover {
  text-decoration: none;
  text-align: center;
  background-color: rgb(26, 26, 26);
}

.nav ul {
  list-style-type: none;
  padding: 1%;
  gap: 100px;
}

.nav li {
  list-style-type: none;
  padding: 1%;
  margin: 50% 0;
}

.nav2 a {
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
}

.aside img {
  border-radius: 4%;
}

.article img {
  border-radius: 4px;
}

article p {
    margin-top: 5%;
    text-align: justify;
}

article .uzenet1, .uzenet2, .valasz1, .valasz2 {
  margin-right: 10%;
}

article .uzenet1 {
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #262626;
}

article .uzenet2 {
    padding-bottom: 1px;
    padding-left: 5px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #262626;
}


article .valasz1 {
    margin-left: 10%;
    padding-left: 1%;
    padding-bottom: 1px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #262626;
}

article .valasz2 {
    margin-left: 10%;
    padding-left: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #262626;
}

footer {
  background-color: rgb(36, 36, 36);
  color: gray;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
}