.container {
  display: grid;
  grid-template-areas:
    "nav2 nav2"
    "nav main"
    "nav main"
    "nav main";
  grid-template-columns: 1fr 10fr;
  gap: 3px;
  padding: 5px;
}

.nav {
  grid-area: nav;
  text-align: center;
}

.nav2 {
  grid-area: nav2;
  text-align: center;
}

.main {
  grid-area: main;
  text-align: center;
}
